<section class="menubar-container-bg">
    <div class="menubar-container">
        <div class="dark-logo">
            <img src="assets/img/logo/logo_dark.png" alt="logo_dark">
            <span class="dark-logo-user">S.Nagel</span>
            <span class="dark-logo-job">developer</span>
        </div>
        <div class="menu-buttons">
            <a (click)="setActiveMenuItem('Why me')" [class.active]="activeMenuItem === 'Why me'">
                <span>Why me</span>
            </a>
            <a (click)="setActiveMenuItem('Skills')" [class.active]="activeMenuItem === 'Skills'">
                <span>Skills</span>
            </a>
            <a (click)="setActiveMenuItem('Projects')" [class.active]="activeMenuItem === 'Projects'">
                <span>Projects</span>
            </a>
            <a (click)="setActiveMenuItem('Contact')" [class.active]="activeMenuItem === 'Contact'">
                <span>Contact</span>
            </a>
        </div>
        <div class="translate-button">
            <span [class.active]="activeLanguage === 'DE'" (click)="setActiveLanguage('DE')">DE</span>
            <span [class.active]="activeLanguage === 'EN'" (click)="setActiveLanguage('EN')">EN</span>
        </div>
    </div>
</section>