<div class="whyme-container-bg">
    <section class="whyme-container">
        <div class="whyme-header">
            <h1>Why me</h1>
        </div>
        <div class="whyme-content">
            <div>
                <div class="located-at">
                    <div class="located-at-icon">
                        <img src="assets/img/whyme/icon.png" alt="icon">
                        <img class="icon-ellipse" src="assets/img/whyme/ellipse_20.png" alt="ellipse">
                    </div>
                    <span>
                        <p>I am</p> located near Bremen...
                    </span>
                </div>
            </div>
            <div class="whyme-text">
                <span>
                    Why did I choose programming? <br>
                    For me, programming combines creative thinking with structured problem-solving. I enjoy analyzing
                    complex challenges efficiently and developing innovative solutions as part of a team. Qualities like
                    perseverance, analytical thinking, and collaboration are part of my daily work.
                </span>
                <div class="whyme-lets-talk">
                    <button>
                        Let's talk
                    </button>
                </div>
            </div>
        </div>


    </section>
</div>