.whyme-container-bg {
    width: 100%;
    max-width: 1440px;
    z-index: 3;
    position: relative;
    margin: auto;
}

.whyme-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.whyme-content {
    display: flex;
    justify-content: space-around;
}

.whyme-header {
    padding-top: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.whyme-header h1 {
    font-family: 'Anta', sans-serif;
    font-size: 60px;
    line-height: 120%;
    color: #89BCD9;
}

.located-at {
    display: flex;
    align-items: center;
}

.located-at-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-ellipse {
    width: 19px;
    height: 7px;
    position: relative;
    top: -23px;
}

.located-at span,
p {
    font-size: 30px;
    font-weight: 700;
    gap: 6px;
}

.located-at span {
    display: flex;
}

.located-at p {
    color: #89BCD9;
}

.whyme-text {
    font-size: 18px;
    width: 370px;
}

.whyme-lets-talk{
    display: flex;
    justify-content: right;
    padding-top: 20px;
}

.whyme-lets-talk button {
    width: 134px;
    height: 48px;
    border-radius: 30px;
    border: 1px solid #89BCD9;
    background-color: transparent;
    padding: 13px,30px,13px,30px;
    gap: 10px;
    color: #89BCD9;
    font-size: 18px;
    line-height: 120%;
    transition: background-color 125ms ease-in-out;

    &:hover {
        background-color: #3F464A;
    }
}