<div class="atf-container-bg">
    <section class="atf-container">
        <div class="portfolio-img-container">
            <div class="background-image"></div>
            <img src="assets/img/header/user_photo.png" alt="stefan_nagel_pic">
        </div>
        <div class="user-info-container">
            <div class="atf-logo-socials">
                <div class="user-logo-container">
                    <div class="user-logo">
                        <img src="assets/img/logo/logo_blue.png" alt="logo">
                        <span class="user-logo-name">S.Nagel</span>
                        <span class="user-logo-job">developer</span>
                    </div>
                </div>
                <div class="social-media-icons-container">
                    <a id="social-media-email" class="social-media-icon" href="#">
                    </a>
                    <a id="social-media-github" class="social-media-icon" href="https://github.com/StefanNagel0">
                    </a>
                    <a id="social-media-linkedin" class="social-media-icon" href="https://www.linkedin.com/in/stefan-nagel-363206343/">
                    </a>
                </div>
            </div>
            <div class="atf-user-info">
                <h1>Stefan Nagel</h1>
                <h2> FRONTEND DEVELOPER</h2>
            </div>
            <div class="arrow-down">
            </div>
        </div>
    </section>
</div>